@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}:root{
   --primary: #6366F1;

    --color-body-text: #565973;
    --color-body-background: #ffffff;
    --color-heading-text: #0B0F19;

    --color-button-text: #ffffff;
    --color-button-background: var(var--primary);
    --color-button-hover-background: #0B0F19;

    --color-button-download-text: #ffffff;
    --color-button-download-background: #0B0F19;
    --color-button-download-hover-background: #0B0F19;
}

html {


}

body {

    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-family: "Manrope", sans-serif;
    color: var(--color-body-text);
    background-color: var(--color-body-background);
}
h1,h2,h3,h4,h5,h6 {
    color: var(--color-heading-text);
}
button, .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 40px;


    color: var(--color-button-text);
    background-color: var(--color-button-background);
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background 0.15s ease-in-out;


    &:hover {
       background-color: var(--color-button-hover-background);
       text-decoration: underline;
    }
    
     img {
        height: 100px;
        width: auto;
     }
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
   max-width: 1320px;
   margin-left: auto;
   margin-right: auto;
   padding-left: 1rem;
   padding-right: 1rem;

}

.btn-signin-text {
    display: none;

    @media (width >= 768px) {
        display:block;
    }
}

.btn-download {
    text-decoration: none;

    .btn-area {
         display: grid;
    column-gap: 1rem;
    grid-template-columns: auto 1fr;
    grid-template-areas:     "icon text"
                             "icon store";

    background-color: var(--color-button-download-background);
    color: var(--color-button-download-text);
    text-decoration: none;
    font-size: 1rem;


    .download-app-text {
      grid-area: text;
      font-weight: 600;
      font-size: 0.9em;
    }
    .download-app-icon {
      grid-area: icon;
      height: 100%;
      

    }
    .download-app-store {
      grid-area: store;
      font-size: 1.5em;
      font-weight: 600;
    }
}

}





.darkmode {
 display: none;

    @media (width >=768px) {
        display:block;
    }
}


header {

    .header-area {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        
        

        .actions {
           display: flex;
           justify-content: space-between;
           align-items: center;
           gap: 2rem;
        
           
        }
    }
}

.hero {
   
    .hero-area {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        text-align: center;

        @media (width >=768px) {
            grid-template-columns: 1fr 1fr;
            gap: 6rem;
            text-align: left;
        }



        .hero-content {
            display: flex;
            flex-direction: column;
            gap: 2rem;


              
              .hero-title {
                font-size: 56px;
                font-weight: 800;


              }

              .hero-ingress {
                font-size: 18px;
                font-weight: 400;


              }




        }

        .hero-image {
            flex: 1;
            border: 1px solid red;
            
        }


    }

}