@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}:root{
   --primary: #6366F1;

    --color-body-text: #565973;
    --color-body-background: #ffffff;
    --color-heading-text: #0B0F19;


                }
            }


        }

        .hero-image {
            display: none;
            @media(width >= 768 px) {
                display: block;
            }
            
        }


    }

}